<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-4">
    <div>
      <img src="/static/img/mohit_pic.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">

    <p class="content">
      <br>
      <!-- <br> -->
      <!-- 👋 I'm Mohit, a Ph.D. candidate in the Sustainable School of Engineering & the Built Environment (SSEBE) at Arizona State University. 
      My Ph.D. research was focused on building Applied AI applications to support automation for a variety of AEC usecases. One such application that I built is the use of Computer Vision to digitize images of engineering blueprints &  NLP to design a Question-Answering system simplifying information extraction and (partially) automating the manual tasks like design review and compliance checking.<br> 
      <br>
      During my Ph.D., I got opportunities to work with researchers from <b>Stanford University</b> (US), <b>TU Munich</b> (Germany) and <b>EPFL</b> (Switzerland) on various research projects. This include CNNs & LSTMs for video analysis, and NeRF & SfM for 3D reconstruction.<br> 
      <br>
      In search of high impact application area, I engaged with the indutry partners such as Salt River Project for IoT based condition monitoring of assets, Sundt Construction for Document Digitization, Penta Building Group for building a LLM-based chatbot based on historical data of construction projects.<br>
      <br>
      ⚡Both the research and industry projects provided me with a unique opportunity to work on real-world problems and develop solutions that can be applied in practice. This motivated me to even launch a start-up called Street Counts, a PaaS (Platform as a Service) company providing computer vision-based Traffic Management solutions to cities and municipalities.<br>
      <br> -->

      <p>👋 Hi, I'm <b>Mohit</b>, a Ph.D. candidate in the <i>Sustainable School of Engineering & the Built Environment (SSEBE)</i> at <b>Arizona State University</b>.</p>

      <p>
        My research focuses on building <b>Applied AI solutions</b> for automating various AEC workflows.
        One such application involved using <b>Computer Vision to digitize engineering blueprints</b> and <b>NLP to develop a 
        question-answering system</b> that (partially) automate tasks like design review and code compliance checking.
      </p>

      <p>
        During my Ph.D., I collaborated with researchers from <b>Stanford University</b> (USA), <b>TU Munich</b> (Germany), and <b>EPFL</b> (Switzerland)
        on projects involving <b>CNNs and LSTMs</b> for video analysis, and <b>NeRF</b> and <b>SfM</b> for 3D reconstruction.
      </p>

      <p>
        Motivated by impact, I worked with industry partners such as Salt River Project on <b>IoT-based condition monitoring</b>,
        Sundt Construction on <b>document digitization</b>, and Penta Building Group on developing an <b>LLM-powered chatbot</b> trained on
        historical construction project data.
      </p>

      <p>
        ⚡ These research and industry engagements gave me the opportunity to solve <i>real-world problems</i> with direct practical value.
        This inspired me to launch <b>Street Counts</b>, a PaaS startup that provides <b>computer vision-based traffic management</b> 
        solutions for cities and municipalities.
      </p>


      <!-- These end-to-end solutions go beyond training AI models. I address challenges such as:<br> 
      (i) Negligible or sparsely annotated data,<br> 
      (ii) Lack of standardization,<br>
      (iii) AI models being 'black-box' systems.<br>
      <br> -->
      
      <!-- Areas of expertise:<br> 
      (i) Object detection & Tracking<br> 
      (ii) Semi-supervised ,<br>
      (iii) AI models being 'black-box' systems.<br>
      <br> -->
      <!-- These are critical issues preventing not only building robust AI models but adversely impacts their integration with the AECO industry, a high-risk & low-margin industry. -->
      My advisors at ASU are - <a href="https://thomasczerniawski.com/">Dr. Thomas Czerniawski</a>, <a href="https://scholar.google.com/citations?user=P-JYh4MAAAAJ&hl=en">Dr. Ricardo Eiris</a>, and <a href="https://scholar.google.com/citations?user=cvqNuosAAAAJ&hl=en">Dr. Deborah Salon</a>.
     </p>
     <br>

    <p class="content"> Links:     

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/mgupta70">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/mgupta70/">
        <span class="fa fa-linkedin"></span>
      </a>

    <a class="btn btn-social-icon btn-google-scholar" target="_blank"
     href="https://scholar.google.com/citations?user=A1Ktea0AAAAJ&hl=en">
    <span class="fa fa-graduation-cap"></span> 
    </p>

  </div>
</div>
