<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-4">
    <div>
      <img src="/static/img/mohit_pic.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">

    <p class="content">
      <br>

      <p>👋 Hi, I'm <b>Mohit</b>, a Ph.D. candidate in the <i>Sustainable School of Engineering & the Built Environment (SSEBE)</i> at <b>Arizona State University</b>.</p>

      <p>
        My research focuses on building <b>Applied AI solutions</b> for various applications in AEC industry.
        One such application that was central to my Ph.D. involved using <b>Computer Vision to digitize engineering blueprints</b> and <b>NLP to develop a 
        question-answering system</b> tp (partially) automate tasks like design review and code compliance. Other applications that I have built in collaboration with
        industry partners include an <b>IoT-based condition monitoring</b> app (Salt River Project), <b>LLM-powered chatbot</b> trained on
        historical construction project data (Penta Building Group), and <b>document digitization</b> (Sundt Constructions)
      </p>

      <p>
        I have also been very lucky to have collaborated with researchers from <b>Stanford University</b> (USA), <b>TU Munich</b> (Germany), and <b>EPFL</b> (Switzerland)
        on projects involving <b>CNNs and LSTMs</b> for video analysis, and <b>NeRF</b> and <b>SfM</b> for 3D reconstruction.
      </p>
<!-- 
      <p>
        Motivated by impact, I worked with industry partners such as Salt River Project on <b>IoT-based condition monitoring</b>,
        Sundt Construction on <b>document digitization</b>, and Penta Building Group on developing an <b>LLM-powered chatbot</b> trained on
        historical construction project data.
      </p> -->
<!-- 
      <p>
        ⚡ These research and industry engagements gave me the opportunity to solve <i>real-world problems</i> with direct practical value.
        This inspired me to launch <b>Street Counts</b>, a PaaS startup that provides <b>computer vision-based traffic management</b> 
        solutions for cities and municipalities.
      </p> -->

      Currently, I am working very closely with <a href="https://scholar.google.com/citations?user=cvqNuosAAAAJ&hl=en">Dr. Deborah Salon</a> on urban mobility and sustainability.

      In past, I worked with <a href="https://thomasczerniawski.com/">Dr. Thomas Czerniawski</a> and <a href="https://scholar.google.com/citations?user=P-JYh4MAAAAJ&hl=en">Dr. Ricardo Eiris</a>. 
      
     </p>

     <!-- <p>
        Areas in which I've published:
        <li>Object Detection</li> 
        <li>3D Reconstruction</li> 
        <li>Point Cloud Segmentation</li> 
        <li>Image Segmentation</li> 
        <li>RAG</li> 
        <li>Synthetic Dataset Generation</li> 
        <li>Video Classification</li> 
      </p> -->

      <p>
      <b>Areas in which I've published: </b> • Object Detection • 3D Reconstruction • Point Cloud Segmentation • Image Segmentation • RAG • Synthetic Dataset Generation • Video Classification
      </p>

     <br>

    <p class="content"> Links:     

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/mgupta70">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/mgupta70/">
        <span class="fa fa-linkedin"></span>
      </a>

    <a class="btn btn-social-icon btn-google-scholar" target="_blank"
     href="https://scholar.google.com/citations?user=A1Ktea0AAAAJ&hl=en">
    <span class="fa fa-graduation-cap"></span> 
    </p>

  </div>
</div>
