<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-4">
    <div>
      <img src="/static/img/mohit_pic.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">

    <p class="content">
      <br>
      <br>
      I am Mohit, a Ph.D. candidate in the Sustainable School of Engineering & the Built Environment (SSEBE) at Arizona State University. 
      My research focusses on building end-to-end AI solutions for 2 indsutrial applications:<br> 
      (A) Engineering Drawings Analysis and,<br>
      (B) Condition Monitoring of Assets using IoT sensors.<br>
      <br>
      These end-to-end solutions go beyond training AI models. I address challenges such as:<br> 
      (i) Negligible or sparsely annotated data,<br> 
      (ii) Lack of standardization,<br>
      (iii) AI models being 'black-box' systems.<br>
      <br>
      These are critical issues preventing not only building robust AI models but adversely impacts their integration with the AECO industry, a high-risk & low-margin industry.
      My advisors at ASU are - <a href="https://thomasczerniawski.com/">Dr. Thomas Czerniawski</a> and <a href="https://scholar.google.com/citations?user=P-JYh4MAAAAJ&hl=en">Dr. Ricardo Eiris</a>.
     </p>
     <br>

    <p class="content"> Links:     

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/mgupta70">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/mohit-gupta-41766aa9/">
        <span class="fa fa-linkedin"></span>
      </a>

    <a class="btn btn-social-icon btn-google-scholar" target="_blank"
     href="https://scholar.google.com/citations?user=A1Ktea0AAAAJ&hl=en">
    <span class="fa fa-graduation-cap"></span> 
    </p>

  </div>
</div>
