<div class="row">
  <h2>Honors</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">All India Rank - 88 out of 153000+ candidates in GATE 2018 (India's most competitive engineering exam).</li>
      <li class="newsElement">Rank-1 in the masters program 2019-2021.</li>
      <li class="newsElement">Recipient of Merit Scholarship in the bachelor's degree program </a> (awarded to top 1%).</li>
      <li class="newsElement">Captain Table Tennis Team, THDCIL, 2018-2021.</li>
    </ul>
  </div>
</div>
