<div class="row">
  <h2>Honors</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement"><a href="https://www.iri.upc.edu/project/show/184">María de Maeztu Research Scholarship recipient</a>, 2019: Awarded this highly competitive grant to conduct research at Perception Lab, IRI (selected from a pool of 200+ applicants from across the world)</li>
      <li class="newsElement"> Got recognized as most responsive in Spotlight awards for my research and execution at Tesco Technology (2018).</li>
      <li class="newsElement">Head Organizer of <a href="https://www.bits-bosm.org/">DLE 2017</a>: More than 5000+ students participated in this all-India inter-collegiate fest,</li>
      <li class="newsElement"> Secured 99.93% All India Percentile in Joint Entrance Examination.</li>
      <li class="newsElement">Recipient of <a href="http://online-inspire.gov.in/">Inspire Scholarship </a> (awarded to top 1% in Higher Secondary School Certificate by Ministry of Human Resource and Development, Government of India).</li>
    </ul>
  </div>
</div>
