<div class="row">
  <h2>Blogs</h2>
  <hr>  
  
  <div class="row">
    <div class="col-sm-9">
      
    </div>
  <div class="row">
  <div class="col-sm-9">
  <h3 class="content_heading">I. <a target="_blank" href="https://medium.com/@mgupta70/computer-vision-blogs-improving-the-accuracy-of-your-image-classifier-4ce8545e3f97">Improving the accuracy of an Image Classifie</a></h3>
<!--     <p class="content">Secured 6<sup>th</sup> rank among 1453 teams in developing a regression model for predicting CO2 emissions in a time-series dataset. </p> -->
  </div>
<!--       <p>(August 2023)</p> -->
      <br>
    </div>

    <div class="col-sm-9">
  <h3 class="content_heading">II. <a target="_blank" href="https://medium.com/@mgupta70/computer-vision-blogs-object-detection-with-yolov8-train-your-own-custom-object-detection-model-4a0fd3aaee59">Object Detection with Yolov8: Train your own custom object detection model</a></h3>
<!--     <p class="content">Achieved a Bronze medal for ranking in the Top 5% among 6430 teams. Developed a multi-class classifier for predicting health conditions using 56 anonymous health markers in a heavily class-imbalanced dataset.</p> -->
  </div>
<!--       <p>(August 2023)</p> -->
      <br>
    </div>

  
    </div>
  </div>


