<div class="row">
  <h2>Hackathons</h2>
  <hr>  
  
  <div class="row">
    <div class="col-sm-9">
      
    </div>
  <div class="row">
  <div class="col-sm-9">
  <h3 class="content_heading">Kaggle: Predict CO2 Emissions in Rwanda<a target="_blank" href="https://www.tum.de/en/">Technical University of Munich</a> <a target="_blank" href="https://drive.google.com/file/d/1Mc4nvLkxQQfcEw4aE41MP5FPK6P2ftfT/view?usp=drive_link">[Paper]</a></h3>
    <p class="content">Secured 6<sup>th</sup> rank among 1453 teams in developing a regression model for predicting CO2 emissions in a time-series dataset. </p>
  </div>
      <p>(August 2023)</p>
      <br>
    </div>

    <div class="col-sm-9">
  <h3 class="content_heading"><a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions">Kaggle:ICR-Identifying Age-Related Conditions</a></h3>
    <p class="content">Achieved a Bronze medal for ranking in the Top 5% among 6430 teams. Developed a multi-class classifier for predicting health conditions using 56 anonymous health markers in a heavily class-imbalanced dataset.</p>
  </div>
      <p>(August 2023)</p>
      <br>
    </div>

  
    </div>
  </div>


