  <div class="row">
    <h2>Blogs</h2>
    <hr>
    <div class="row">
      <div class="col-sm-9">
       <h3 class="content_heading"><em style="font-size: 80%;">I. <a target="_blank" href="https://medium.com/@mgupta70/computer-vision-blogs-improving-the-accuracy-of-your-image-classifier-4ce8545e3f97">Improving the accuracy of an Image Classifier</a></em></h3>
        </div>
    </div>
<!--       <br> -->

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading"><em style="font-size: 80%;">II. <a target="_blank" href="https://medium.com/@mgupta70/computer-vision-blogs-object-detection-with-yolov8-train-your-own-custom-object-detection-model-4a0fd3aaee59">Object Detection with Yolov8: Train your own custom object detection model</a></em></h3>
        
      </div>
    </div>
  </div>
</div>



