<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">B.Eng in  Electrical and Electronics Engineering</h3>
      <h4 class="content_heading">Birla Institute of Technology and Science (BITS) Pilani , Rajasthan</h4>
        <p class="content"><em> GPA 7.24 / 10</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/bits.png" width="50%">
      <p>(August 2014 - June 2018)</p>
    </div>
  </div>

</div>