<div class="row">
  <h2>Experience</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">AI Intern,<a target="_blank" href="https://www.epfl.ch/en/"> École Polytechnique Fédérale de Lausanne (EPFL)</a></h3>
      <p class="content">Advisor: <a href="https://people.epfl.ch/marilyne.andersen/?lang=en">Prof. Marilyne Andersen</a> </p>
      <p class="content">Trained a Long Short-Term Memory (LSTM) network with Resnet-50 backbone to predict discomfort from facial
videos recorded in varying luminance conditions.<br>Utilized domain knowledge for increasing performance by concatenating the cell state of LSTM with scene-based
parameters and facial action units.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/logo-epfl.png" width="100px">
      <p>(May 2022 - Aug 2022)</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Senior Engineer , THDC India Limited</a>.</h3>
      <p class="content">Analysed spatio-temporal rainfall data to predict flood and check the suitability of 3 different catchments for constructing a new hydraulic dam. Also, managed the maintenance of chutes and dam galleries.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/thdc_logo.png" width="120px">
      <br>
      <p>(Oct 2018 - July 2021)</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">BIM Engineer, <a target="_blank" href="https://vconstruct.com/">Vconstruct Private Limited</a>.</h3>
       <p class="content">Team Lead for the Structural modelling; developed Revit workflows and interfaced with clients, defining the scope
of work and deliverables’ schedule.(Team size-5 , Projects led-8).</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/vonstruct-logo.png" width="110px">
      <p>(May 2015 - June 2016)</p>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Intern, <a target="_blank"
          href="https://www.infinera.com/">Infinera India</a></h3>
      <p class="content">Developed a recommender system to notify user about non-merged changes.<br>Successfully migrate a large scale Database from Wiki to Confluence.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/infinera.png" width="120px">
      <p>(July 2017 - December 2017)</p>
    </div>
  </div> -->
</div>
