<div class="row">
  <h2>Experience</h2>
  <hr>  
  
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.tum.de/en/">Technical University of Munich</a> </h3>
      <p class="content"> Advisor: Professor<a target="_blank" href="https://www.professoren.tum.de/en/borrmann-andre"> André Borrmann</a></p>
      <p class="content">Analysed the geometrical accuracy of 3D reconstruction of a construction site via 360 cameras. Techniques for 3D reconstruction were: Structure-from-Motion (SfM) and Neural Radiance Field (NeRF). The goal is to explore the applicability of these methods (via measuring the geometrical accuracy) which require less data storage requirements as compared to a Lidar scan.<a target="_blank" href="https://drive.google.com/file/d/1Mc4nvLkxQQfcEw4aE41MP5FPK6P2ftfT/view?usp=drive_link"><em style="font-size: 50%;"> [Paper]</a></em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/tum_logo.png" width="100px">
      <p>(May 2022 - Aug 2022)</p>
      <br>
    </div>
    </div>

<!--    
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Senior Engineer , THDC India Limited</a>.</h3>
      <p class="content">Analysed spatio-temporal rainfall data to predict flood and check the suitability of 3 different catchments for constructing a new hydraulic dam. </p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/thdc_logo.jpeg" width="100px">
      <br>
      <p>(Oct 2018 - July 2021)</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">BIM Engineer, <a target="_blank" href="https://vconstruct.com/">Vconstruct Private Limited</a>.</h3>
       <p class="content">Team Lead for the Structural modelling; developed Revit workflows and interfaced with clients, defining the scope
of work and deliverables’ schedule.(Team size-5 , Projects led-8).</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/vconstruct.png" width="110px">
      <p>(May 2015 - June 2016)</p>
    </div>
  </div>
 -->

