<div class="row">
    <div class="col-sm-3" align="right">
      <img src="static/img/Kaggle_logo.png" width="100px">
        </div>
    <div class="col-sm-9">
    <h2>Hackathons</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><em style="font-size: 90%;"> I. <a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions/">Kaggle: Predict CO2 Emissions in Rwanda</a></em></h3>
        <p class="content">Secured 6<sup>th</sup> rank among 1453 teams in developing a regression model for predicting CO2 emissions in a time-series dataset. </p>
        </div>
    </div>
      <br>

    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><em style="font-size: 90%;">II. <a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions">Kaggle: ICR-Identifying Age-Related Conditions</a></em></h3>
        <p class="content">Achieved a Bronze medal for ranking in the Top 5% among 6430 teams. Developed a multi-class classifier for predicting health conditions using 56 anonymous health markers in a heavily class-imbalanced dataset.</p>
      </div>
    </div>
  </div>
</div>

