<div class="row">
  <h2>Experience</h2>
  <hr>  
  
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading"><em style="font-size: 90%;"> I. <a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions/">Kaggle: Predict CO2 Emissions in Rwanda</a></em></h3>
      <p class="content">Secured 6<sup>th</sup> rank among 1453 teams in developing a regression model for predicting CO2 emissions in a time-series dataset. </p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/Kaggle_logo.png" width="100px">
      <p>(July - Aug 2023)</p>
      <br>
    </div>
    </div>
    
      <br>

    <div class="row">
    <div class="col-sm-9">
     <h3 class="content_heading"><em style="font-size: 90%;">II. <a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions">Kaggle: ICR-Identifying Age-Related Conditions</a></em></h3>
       <p class="content">Achieved a Bronze medal for ranking in the Top 5% among 6430 teams.</p>
        <p class="content"> Developed a multi-class classifier for predicting health conditions using 56 anonymous health markers in a heavily class-imbalanced dataset.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/Kaggle_logo.png" width="100px">
      <p>(Aug 2023)</p>
      <br>
    </div>
    </div>
    
      <br>


    <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading"><em style="font-size: 90%;">III. <a target="_blank" href="https://www.kaggle.com/competitions/dfl-bundesliga-data-shootout">Kaggle: DFL-Bundesliga Data Shootout</a></em></h3>
      <p class="content">Developed an LSTM model for activity recognition during football matches. Performed feature engineering by assigning teams to players via K-means clustering and tracking football and players' locations. The developed LSTM model achieved 76% accuracy.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/Kaggle_logo.png" width="100px">
      <p>(July - Dec 2022</p>
      <br>
    </div>
    </div>
    
<!--       <br> -->



  
<!--     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><em style="font-size: 90%;">II. <a target="_blank" href="https://www.kaggle.com/competitions/icr-identify-age-related-conditions">Kaggle: ICR-Identifying Age-Related Conditions</a></em></h3>
        <p class="content">Achieved a Bronze medal for ranking in the Top 5% among 6430 teams.</p>
        <p class="content"> Developed a multi-class classifier for predicting health conditions using 56 anonymous health markers in a heavily class-imbalanced dataset.</p>
         </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/Kaggle_logo.png" width="100px">
      <p>(Aug 2022)</p>
      <br>
      </div>
    </div>

     <div class="row">
         <div class="col-sm-12">
             <h3 class="content_heading"><em style="font-size: 90%;">III. <a target="_blank" href="https://www.kaggle.com/competitions/dfl-bundesliga-data-shootout">Kaggle: DFL-Bundesliga Data Shootout</a></em></h3>
             <p class="content">Developed an LSTM model for activity recognition during football matches. Performed feature engineering by assigning teams to players via K-means clustering and tracking football and players' locations. The developed LSTM model achieved 76% accuracy.</p>
         </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/Kaggle_logo.png" width="100px">
      <p>(July - Dec 2022)</p>
      <br>
         </div>
     </div>

 -->


        
  </div>
</div>

