<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement"><strong style="color: red;">NEW!</strong> July 2019: Started working as a Machine Learning
        Engineer at <a href="https://www.tesla.com/autopilot">Tesla Autopilot</a></li>
      <li class="newsElement">March 2019: Co-founded <a href="https://caliper.ai">Caliper</a>. Caliper is the only
        platform that enables recruiters to evaluate
        practical AI skills.</li>
      <li class="newsElement">December 2018: I successfully defended my
        Masters thesis 'EvalAI - Evaluating AI Systems at Scale'. <a
          href="https://smartech.gatech.edu/handle/1853/60738" target="_blank">Thesis</a>, <a
          href="/static/docs/thesis-defense.pdf" target="_blank">Slides</a>, <a
          href="https://photos.app.goo.gl/zRnZLaoQ29TffGcq8" target="_blank">Photos</a></li>
      <li class="newsElement">August 2018: Our paper 'Do explanations make VQA models more predictable to a human?'</a>
        is accepted in <a href="http://emnlp2018.org/">EMNLP, 2018</a></li>
      <li class="newsElement">June 2018: Organizing the 1st <a href="https://visualdialog.org/challenge/2018">Visual
          Dialog Challenge</a>!</li>
      <li class="newsElement">June 2018: Presenting Human-in-the-loop evaluation for Computer Vision Challenges Demo in
        <a href="http://cvpr2018.thecvf.com/" target="_blank">CVPR 2018</a></li>
      <li class="newsElement">May 2018: Starting as Research Intern in <a href="https://www.snap.com/en-US/">Snap Inc.,
          Los Angeles</a></li>
      <li class="newsElement">April 2018: Serving as reviewer for <a href="https://eccv2018.org/">ECCV 2018</a></li>
      <li class="newsElement">February 2018: Serving as Organization Administrator for CloudCV in <a
          href="https://summerofcode.withgoogle.com/organizations/4737237502132224/">Google Summer of Code 2018</a></li>
      <li class="newsElement">December 2017: Won <a target="_blank"
          href="https://snapresearchscholarship.splashthat.com/">Snap Inc. Research
          Scholarship</a>, 2017 (<a
          href="https://www.ic.gatech.edu/news/600684/three-ic-students-earn-snap-research-awards">Georgia Tech's
          published story</a>)</li>
      <li class="newsElement">October 2017: Serving as Organization Administrator for CloudCV in <a target="_blank"
          href="http://gci.cloudcv.org/">Google Code-In 2017</a></li>
      <li class="newsElement">October 2017: Representing <a href="http://cloudcv.org">CloudCV</a> at Google Summer of
        Code Mentor Summit 2017, Google Sunnyvale</li>
      <li class="newsElement">June 2017: Our paper <a href="https://arxiv.org/abs/1708.05122">'Evaluating Visual
          Conversational Agents via Cooperative Human-AI Games'</a> is accepted in <a href="">HCOMP 2017</a></li>
      <li class="newsElement">March 2017: Joining <a href="http://www.gatech.edu/">Georgia Tech</a> as a Masters of
        Computer Science Student starting Fall 2017</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement {
    padding-bottom: 5px;
  }

</style>
