<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">May 2025: Presented a talk on 'Exploring AI & AEC Synergy' at <a href="https://doxel.ai/">Doxel.ai</a>, Menlo Park, CA, USA</li>
      <li class="newsElement">April 2025: Participated in <a href="https://spring.smartcitiesconnect.org/innovation_challenge.html">Smart Cities Start-up Challnege AI</a> at <a href="https://spring.smartcitiesconnect.org/">Smart Cities Connect</a> event in Texas, USA</li>
      <li class="newsElement"><strong style="color: red;">NEW!</strong> March 2025: Defended my Ph.D. Thesis on 'Converting Static P&IDs into Queryable Knowledge Graphs'</a></li>
      <li class="newsElement">March 2025: Our paper <a href="https://www.mdpi.com/2504-4990/7/2/39">'PIDQA—Question Answering on Piping and Instrumentation Diagrams'</a> is published in <a href="">Machine Learning & Knowledge Extraction</a></li>
      <li class="newsElement">December 2024: Presented a demo on <a href="https://github.com/mgupta70/Predictive-Maintenance-Data-Analytics-App">IoT-enabled Predictive Maintenance of Hydraulic Strutures</a> at Salt River Project, USA</li>
      <li class="newsElement">July 2024: Presenting at I3CE 2024, Pittsburgh, USA</li>
      <li class="newsElement">June 2024: Co-founded Street Counts. Street Counts is a Platform as a Service (PaaS) for monitoring traffic patterns using computer vision and machine learning.</li>
      <li class="newsElement">May 2024: Visiting Research Scholar in <a href="https://www.stanford.edu/">Stanford University</a> in California, USA</li>
      <li class="newsElement">Feb 2024: Presented a Guest Lecture on Predictive Maintenance of Hydro Dams with Artificial Intelligence at <a href="https://www.gatech.edu/">Georgia Institute of Technology</a></li>
      <li class="newsElement">January 2024: Our paper <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=A1Ktea0AAAAJ&citation_for_view=A1Ktea0AAAAJ:zYLM7Y9cAGgC">'Deep learning model for discomfort glare detection based on occupants facial analysis'</a> is accepted in <a href="">I3CE 2024</a></li>
      <li class="newsElement">December 2023: Our paper <a href="https://www.sciencedirect.com/science/article/abs/pii/S0926580523005204">'Semi-supervised symbol detection for piping and instrumentation drawings'</a> is accepted in <a href="">Automation in Construction</a></li>
      <li class="newsElement">June 2023: Starting as Machine Learnng Intern in <a href="https://www.srpnet.com/">Salt River Project</a> in Arizona, USA</li>
      <li class="newsElement">May 2023: Presented a talk on <a href="https://www.mdsi.tum.de/en/gni/news/news-single-view/article/mohit-gupta-will-be-giving-a-talk-on-24th-of-may/">Artificial Intelligence in Construction: Enhancing Efficiency and Experiential Learning</a> at Georg Nemetschek Institute for Artificial Intelligence in the Built World at the Technical University of Munich</li>
      <li class="newsElement">December 2021: Our paper <a href="https://www.iaarc.org/publications/fulltext/086_ISARC%202022_Paper_52.pdf">'Automated Valve Detection in P&IDs'</a> is accepted in <a href="">I3CE 2022</a></li>
      <li class="newsElement">December 2022: Our paper on <a target="_blank" href="https://ascelibrary-org.ezproxy1.lib.asu.edu/doi/full/10.1061/JCCEE5.CPENG-6263">City-Scale Bike Lane Facility Management through LiDAR, Weakly Supervised Learning, and Dimensionality Reduction</a> is accepted in <a href="">I3CE 2023</a></li>
      <li class="newsElement">December 2022: Our paper on <a target="_blank" href="https://ascelibrary-org.ezproxy1.lib.asu.edu/doi/abs/10.1061/9780784485224.052?download=true">NeRF-vs-SfM</a> is accepted in <a href="">I3CE 2023</a></li>
      <li class="newsElement">May 2022: Starting as Research Intern in <a href="https://www.cee.ed.tum.de/ccbe/home/">Chair of Computing in Civil and Building Engineering</a> at TU Munich, Germany (working on 3D scene reconstruction using Structure-from-Motion (SfM) and Neural Radiance Fields (NeRF))</li>
      <li class="newsElement">December 2021: Our paper <a href="https://www.iaarc.org/publications/fulltext/086_ISARC%202022_Paper_52.pdf">'Automated Valve Detection in P&IDs'</a> and <a href="https://www.iaarc.org/publications/2022_proceedings_of_the_39th_isarc_bogota_colombia/automated_wall_detection_in_2d_cad_drawings_to_create_digital_3d_models.html">'Automated Wall Detection in 2D CAD Drawings to Create Digital 3D Models'</a> are accepted in <a href="">I3CE 2022</a></li>
      <li class="newsElement">August 2021: Joining <a href="https://www.asu.edu/">Arizona State University</a> as a Ph.D. Student in Civil Engineering and Machine Learning</li>
          
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement {
    padding-bottom: 5px;
  }

</style>
