  <div class="row">
    <h2>Projects</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">3D reconstruction by NeRF and SfM from 360°camera images <em style="font-size: smaller;"> <a target="_blank" href="https://drive.google.com/file/d/1Mc4nvLkxQQfcEw4aE41MP5FPK6P2ftfT/view?usp=drive_link">[Paper]</a></em></h3>
        <br>
        <p> Comparison of geometrical accuracy in 3D reconstruction of NeRF and SfM for construction sites captured via 360 cameras.</p>
      </div>
    </div>
    <div class="row" align="center">
  <div class="col-sm-4">
    <figure>
      <img src="static/img/small_scan.gif" width="300px">
      <figcaption>Laser scan</figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <img src="static/img/small_nerf.gif" width="300px">
      <figcaption>NeRF</figcaption>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <img src="static/img/small_colmap.gif" width="300px">
      <figcaption>SfM</figcaption>
    </figure>
  </div>
</div>
      
    <hr>


    
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Semi-supervised symbols detection in Piping and Instrumentation Drawings <em style="font-size: smaller;"> [Paper under review in Automation In Construction]</em></h3>
        <br>
        <p>Developed a Siamese Network for symbol retrieval and applied K-means coreset sampling to achieve nearly the same performance as using the full dataset, but with only 30% of the data.<br> Improved the Top-1 accuracy by 4.5% with Ensemble learning.</p>
      </div>
    </div>
      <img src="/static/img/sg6.gif" width="60%" height = "60%">
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Kaggle DFL Bundesliga Data Shootout</h3>
        <br>
        <p>Implemented an LSTM network achieving 76% accuracy to recognize different types of soccer passes in Football tournament videos. </p>
        
      </div>
    </div>
    <img src="/static/img/dfl7.gif" width="50%" height = "60%">
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Automated 2D building plans to 3D digital model<em style="font-size: smaller;"> [Paper under review in Journal of Computing in Civil Engineering, <a target="_blank" href="https://doi.org/10.22260/ISARC2022/0023"> Paper2</a>] </em></h3>
        <br>
        <p>  Trained a Yolov3 model to recognize building components in 2D CAD. Then, linked the localised coordinates with Dynamo to create 3D model in Revit.</p>
        
      </div>
    </div>
    <img src="/static/img/2dto3dfull.png" width="100%" height = "100%">


    
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Valve detection in P&IDs without human annotations: A synthetic data approach [<a target="_blank" href="https://doi.org/10.22260/ISARC2022/0088"> Paper</a>]</h3>
        <br>
        <p>Devised a synthetic-data generation pipeline to create a labelled dataset without any human annotations. Presence of a look-alike symbols (i.e. hard negatives) reduced false positives & increased the performance.</p>
        
    <hr>
     
