  <div class="row">
    <h2>Publications</h2>
    <hr>
    <div class="row">

      <div class="col-sm-12">
          <h3 class="content_heading">EvalAI: Towards Better Evaluation Systems for AI Agents</h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors"><b>Deshraj Yadav</b>, Rishabh Jain, Harsh Agrawal, Prithvijit Chattopadhyay, Taranjeet Singh, Akash Jain, Shiv Baran Singh, Stefan Lee, Dhruv Batra</span>
                  <br><span class="conf"><a href="https://arxiv.org/abs/1902.03570">arXiv preprint</a></span>
                  <br>
              </p>
          </p>

          <p>
            <a href="https://evalai.cloudcv.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Project Webpage</button></a>
            <a href="https://github.com/Cloud-CV/EvalAI" class="white-text"><button type="button" class="btn btn-primary ribbon">Github repository</button></a>
          </p>
      </div>

      <div class="col-sm-12">
          <h3 class="content_heading">Fabrik: An Online Collaborative Neural Network Editor</h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors">Utsav Garg, Viraj Prabhu, <b>Deshraj Yadav</b>, Ram Ramrakhya, Harsh Agrawal, Dhruv Batra</span>
                  <br><span class="conf"><a href="https://arxiv.org/abs/1810.11649">arXiv preprint</a></span>
                  <br>
              </p>
          </p>

        <p>
          <a href="https://github.com/Cloud-CV/Fabrik" class="white-text"><button type="button" class="btn btn-primary ribbon">Github repository</button></a>
        </p>
      </div>

      <div class="col-sm-12">
          <h3 class="content_heading">Do explanation modalities make VQA models more predictable to a human?</h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors">Arjun Chandrasekaran<sup>*</sup>, Viraj Prabhu<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Prithvijit Chattopadhyay<sup>*</sup>, Devi Parikh</span>
                  <br><span class="conf"><a href="http://emnlp2018.org/">EMNLP 2018</a></span>
                  <br>
              </p>
          </p>

          <div class="col-sm-12">
            <a href="https://arxiv.org/abs/1810.12366">
              <img class="thumb" src="/static/img/emnlp.jpg" width="100%">
            </a>
          </div>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading">Evaluating Visual Conversational Agents via Cooperative Human-AI Games</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Prithvijit Chattopadhyay<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Viraj Prabhu, Arjun Chandrasekaran, Abhishek Das, Stefan Lee, Dhruv Batra, Devi Parikh</span>
                <br><span class="conf"><a href="http://www.humancomputation.com/2017/">HCOMP 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://github.com/VT-VISION-LAB/GuessWhich" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1708.05122">
            <img class="thumb" src="/static/img/hcomp.jpg" width="100%">
          </a>
        </div>

      </div>

      <div class="col-sm-12">
        <h3 class="content_heading">It Takes Two to Tango: Towards Theory of AI's Mind</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Chandrasekaran<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Prithvijit Chattopadhyay<sup>*</sup>, Viraj Prabhu<sup>*</sup>, Devi Parikh</span>
                <br><span class="conf"><a>Chalearn Looking at People Workshop, CVPR 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://deshraj.github.io/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://github.com/deshraj/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1704.00717">
            <img class="thumb" src="/static/img/toaim.jpg" width="100%">
          </a>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading">Visual Dialog</h3>
        <p class="pubd">
          <span class="authors">Abhishek Das, Satwik Kottur, Khushi Gupta, Avi Singh, <b>Deshraj Yadav</b>, José M.F. Moura, Devi Parikh, Dhruv Batra</span>
          <br><span class="conf"><a>CVPR 2017 - Spotlight</a></span>
        </p>

        <p>
          <a href="https://visualchatbot.cloudcv.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://visualdialog.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Project Webpage</button></a>
          <a href="https://github.com/Cloud-CV/visual-chatbot" class="white-text"><button type="button" class="btn btn-primary ribbon">Visual Chatbot Code</button></a>
          <a href="https://github.com/batra-mlp-lab/visdial-amt-chat" class="white-text"><button type="button" class="btn btn-primary ribbon">Data Collection Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1611.08669">
            <img class="thumb" src="/static/img/vd_thumb.jpg" width="100%">
          </a>
        </div>
      </div>
    </div>
  </div>
