<div class="row">
  <h2>Technical Skills</h2>
  <hr>
  <div>
    <p class="content_heading"><b>Languages</b></p>
    <p class="content">- Python, Lua, C++, C, C#</p>
  </div>
  <div>
    <p class="content_heading"><b>Research-y Skills</b></p>
    <p class="content">- Machine Learning, Computer Vision, Deep Learning</p>
  </div>
  <div>
    <p class="content_heading"><b>Databases</b></p>
    <p class="content">- MySQL, PostgreSQL, MongoDB, Elasticsearch, Redis, Couchbase</p>
  </div>
  <div>
    <p class="content_heading"><b>Deployment Skills</b></p>
    <p class="content">- Docker, AWS EC2, ElasticBeanstalk, RDS, S3, SQS, VPC</p>
  </div>
  <div>
    <p class="content_heading"><b>Web Technologies</b></p>
    <p class="content">- RESTful Web Services, HTML, CSS, Javascript, AngularJS, Jquery, Socket.IO, Bootstrap, Material Design, Apache, Nginx</p>
  </div>
  <div>
    <p class="content_heading"><b>Mobile Applications</b></p>
    <p class="content">- Android Application development, Windows Mobile Application development</p>
  </div>
  <div>
    <p class="content_heading"><b>Other Technologies</b></p>
    <p class="content">- PyTorch, Torch, Celery, RabbitMQ, OpenCV</p>
  </div>
  <div>
    <p class="content_heading"><b>Version Control</b></p>
    <p class="content">- Git</p>
  </div>
</div>
